.estiloNav{
    background-color: #9c74c2;
}

<<<<<<< Updated upstream
.footerlast {
    background-size: -10px;
    background-color: #7b5c97;
    border-top: 1px solid #352E30;
    height: 1px; 
    clear: both;
    padding: 0 10px;
 }
=======
main{
    background-color: #9cce12d5;
    background-image: url(../img/topography.svg);
}
>>>>>>> Stashed changes

.letraNav{
    color: whitesmoke;
}
.letraAnimal{
    color:#410b747c;
}

.section1{
    width: 75vh;
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
  background: #1D1F20;
}

.wrap{
	width: 100vh;
	margin: 50px auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.tarjeta-wrap{
	margin: 10px;
	-webkit-perspective: 800;
	perspective: 800;
}

.tarjeta{
	width: 50vh;
	height: 55vh;
	background: #9c74c2;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);

}

.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.adelante{
	width: 100%;
}

.atras{
    width: 75vh;
	height: 75vh;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);

	padding: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	text-align: center;
	color: #fff;
	font-family: "open sans";
    background: #9c74c2;
  
}

<<<<<<< Updated upstream
.titulos{
    font-family: 'Sigmar One', cursive;
    font-weight: 400;
    font-size: 80px;
}
=======
.tarjeta-wrap:hover .tarjeta{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}


.card1{
	background-image: url(../img/Logo-Huella.png);
	background-size: cover;
}

.card2{
	background-image: url(../img/Logo-Huella.png);
	background-size: cover;
}

.card3{
	background-image: url(../img/Logo-Huella.png);
	background-size: cover;
}
>>>>>>> Stashed changes
