.estiloNav{
    background-color: #9c74c2;
}

.letraNav{
    color: whitesmoke;
}

.section1{
    width: 75%;
}

.titulos{
    font-family: 'Sigmar One', cursive;
    font-weight: 400;
    font-size: 80px;
}
