.estiloNav{
    background-color: #9c74c2;
}

.footerlast {
    background-size: -10px;
    background-color: #7b5c97;
    border-top: 1px solid #352E30;
    height: 1px; 
    clear: both;
    padding: 0 10px;
 }

.letraNav{
    color: whitesmoke;
}

.section1{
    width: 75%;
}

.titulos{
    font-family: 'Sigmar One', cursive;
    font-weight: 400;
    font-size: 80px;
}
