<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="icon" type="image/png" href="../static/img/ícono.png">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Sigmar+One&display=swap" rel="stylesheet">

    <title>Tu Huella</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark estiloNav">
            <div class="container-fluid text-light estiloNav px-3">
                <a class="navbar-brand tex-light" href="#">
                    <img src="../static/img/Huella_nueva.png" class="img-fluid d-inline-block align-text-top" width="35"
                        height="35" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-3 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-light btn-outline-success rounded-pill mx-2 px-4"
                                aria-current="page" href="index.html">
                                Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light btn-outline-success rounded-pill mx-2 px-4"
                                href="AddAPet-form.html">Add your
                                pets</a>
                        </li>
                        <p>
                            <button class="btn text-light" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseWidthExample" aria-expanded="false"
                                aria-controls="collapseWidthExample">
                                <li class="nav-item">
                                    <a class="nav-link text-light btn-outline-success rounded-pill mx-2 px-4"
                                        href="/pets.html">Find a
                                        pet</a>
                                </li>
                            </button>
                        </p>
                    </ul>
                    <a class="btn text-light btn-outline-success mx-3 px-3 " href="login.html">Login</a>
                    <a class="btn text-light btn-outline-success mx-3 px-3" href="singup-form.html">SignUp</a>
                    <form class="d-flex">
                        <input class="form-control m-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="text-light btn btn-outline-success my-2" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <div style="min-height: 120px;">
            <div class="collapse collapse-horizontal" id="collapseWidthExample">
                <div style="width: 975px;">
                    <nav>
                        <section id="sección">
                            <a id="primer" href="https://github.com/"> Ingresa ciudad, <br> país </br> o código postal
                            </a>
                            <a id="segundo" href="https://getbootstrap.com/"> Encuentra <br> un </br> perro </a>
                            <a id="tercero" href="https://www.w3schools.com/"> Encuentra <br> un </br> gato </a>
                            <a id="cuarto" href="https://flexboxfroggy.com/#es"> Encuentra <br> otras </br> mascotas
                            </a>
                        </section>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="titulos p-2 text-success">
            <h2 class="display-3 d-flex justify-content-center">REGISTRA A TU MASCOTA</h2>
        </div>
        <form class="row g-3 d-flex justify-content-center px-4">
            <div class="col-6">
                <input type="text" name="name"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
                    placeholder="Ingresa aquí el NOMBRE de tu mascota">
                <br>
            </div>
            <div class="col-md-6">
                <input type="Age" name="age" class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
                    placeholder="Ingrese aquí la EDAD de su mascota (en meses)">
            </div>
            <div class="col-md-6">
                <input type="text" name="USER"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
                    placeholder="Nombre de Usuario">
            </div>
            <div class="col-md-6">
                <input type="password" pass="password"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded" placeholder="Contraseña">
            </div>
            <div class="col-md-6">
                <input type="email" name="password"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
                    placeholder="Repetir Contraseña">
            </div>
            <div class="col-12">
                <input type="number" name="age"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded" placeholder="Edad">
            </div>
            <div class="col-md-6">
                <input type="text" name="street"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded" placeholder="Calle">
            </div>
            <div class="col-md-6">
                <input type="number" name="streetNumber"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
                    placeholder="Numero de Calle">
            </div>
            <div class="col-md-3">
                <input type="text" name="neighborhood"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded" placeholder="Barrio">
            </div>
            <div class="col-md-3">
                <input type="text" name="city"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded" placeholder="Ciudad">
            </div>
            <div class="col-md-3">
                <input type="text" name="province"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded" placeholder="Provincia">
            </div>
            <div class="col-md-3">
                <input type="text" name="country"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded" placeholder="Pais">
            </div>
            <div class="col-md-6">
                <input type="number" name="phoneNumber"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
                    placeholder="Numero de teléfono">
            </div>
            <div class="col-md-6">
                <input type="number" name="alternativeNumber"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
                    placeholder="Numero alternativo">
            </div>
            <div class="col-12">
                <input type="file" name="profilePhoto"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
                    placeholder="Foto de perfil">
            </div>
        </form>

        <aside>

        </aside>

    </main>



    <script src="../static/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</body>

</html>