<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="icon" type="image/png" href="../static/img/ícono.png">
  <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
 



  <title>Tu Huella</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark estiloNav">
      <div class="container-fluid text-light estiloNav px-3">
        <a class="navbar-brand tex-light" href="#">
          <img src="../static/img/Huella_nueva.png" class="img-fluid d-inline-block align-text-top" width="35"
            height="35" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-3 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-light btn-outline-success rounded-pill mx-2 px-4" aria-current="page" href="#">
                Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light btn-outline-success rounded-pill mx-2 px-4" href="AddAPet-form.html">Add
                your
                pets</a>
            </li>
         
                <li class="nav-item">
                  <a class="nav-link text-light btn-outline-success rounded-pill mx-2 px-4" href="/pets.html">Find a
                    pet</a>
                </li>
              
          </ul>
          <a class="btn text-light btn-outline-success mx-3 px-3 " href="login.html">Login</a>
          <a class="btn text-light btn-outline-success mx-3 px-3" href="singup-form.html">SignUp</a>
          <!-- <form class="d-flex">
            <input class="form-control m-2" type="search" placeholder="Search" aria-label="Search">
            <button class="text-light btn btn-outline-success my-2" type="submit">Search</button>
          </form> -->
        </div>
      </div>
    </nav>
    <div>
      <div class="collapse collapse-horizontal" id="collapseWidthExample">
        <div style="width: 100vw;">
          <nav>
            <section id="sección">
              <!-- <a id="primer" href="https://github.com/"> Ingresa ciudad, <br> país </br> o código postal </a> -->
              <a id="segundo" href="https://getbootstrap.com/"> Encuentra <br> un </br> perro </a>
              <a id="tercero" href="https://www.w3schools.com/"> Encuentra <br> un </br> gato </a>
              <a id="cuarto" href="https://flexboxfroggy.com/#es"> Encuentra <br> otras </br> mascotas </a>
            </section>
        </div>
      </div>
    </div>
  </header>

  <main>
    <section>
      <div class="container d-flex justify-content-center">
        <p class="display-3 text-light">Encuentra a tu mascota</p>
      </div>
      <div class="wrap">
        <div class="tarjeta-wrap">
          <div class="tarjeta">
            <div class="adelante card1"></div>
            <div class="atras">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae. Illum, suscipit,
                aspernatur!</p>
            </div>
          </div>
        </div>
        <div class="tarjeta-wrap">
          <div class="tarjeta">
            <div class="adelante card2"></div>
            <div class="atras">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae. Illum, suscipit,
                aspernatur!</p>
            </div>
          </div>
        </div>
        <div class="tarjeta-wrap">
          <div class="tarjeta">
            <div class="adelante card3"></div>
            <div class="atras">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae. Illum, suscipit,
                aspernatur!</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="container-fluid d-flex justify-content-around align-content-end flex-wrap">
        <div class="card-img" style="width: 50vh;">
          <img src="../static/img/Logo-Huella.png" class="card-img-top " alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card border border-5 border-success rounded-5 m-2" style="width: 50vh;">
          <img src="../static/img/Logo-Huella.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card border border-5 border-primary rounded-5 m-2" style="width: 50vh;">
          <img src="../static/img/Logo-Huella.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card border border-5 border-danger rounded-5" style="width: 18rem;">
            <img src="../static/img/Logo-Huella.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
      </div>

      </div>-->
      <!-- </section>
      <div class="container-fluid d-flex justify-content-around align-content-end flex-wrap">
        <div class="card-img border border-5 border-info rounded-5 m-2" style="width: 50vh;">
          <img src="../static/img/Logo-Huella.png" class="card-img-top " alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card border border-5 border-primary rounded-5 m-2" style="width: 50vh;">
          <img src="../static/img/Logo-Huella.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card-img border border-5 border-info rounded-5 m-2" style="width: 50vh;">
          <img src="../static/img/Logo-Huella.png" class="card-img-top " alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div> -->
        <!--<div class="card border border-5 border-danger rounded-5" style="width: 18rem;">
            <img src="../static/img/Logo-Huella.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>-->

        <!--<div class="card border border-5 border-danger rounded-5" style="width: 18rem;">
            <img src="../static/img/Logo-Huella.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
        </div>-->
      <aside>

      </aside>
    </section>
  </main>

  <footer class="estiloNav">
    <div class="container pt-4">
      <div class="row d-flex justify-content-center">


        <div class="col-lg-4 col-1">
          <a class="navbar-brand" href="index.html">
            <h3 class="h4 pb-lg-3 text-dark regular-400">Conocenos en redes</h2>

              <ul class="list-inline footer-icons light-400">
                <li class="list-inline-item m-1">
                  <a class="text-light" target="_blank" href="http://www.instagram/NuestraHuella.com/">
                    <i class='bx bxl-facebook-square bx-md'></i>
                  </a>
                </li>
                <li class="list-inline-item m-1">
                  <a class="text-light" target="_blank" href="http://www.Linkedin/NuestraHuella.com/">
                    <i class='bx bxl-linkedin-square bx-md'></i>
                  </a>
                </li>
                <li class="list-inline-item m-1">
                  <a class="text-light" target="_blank" href="https://www.webwhatsapp.com/">
                    <i class='bx bxl-whatsapp-square bx-md'></i>
                  </a>
                </li>
                <li class="list-inline-item m-1">
                  <a class="text-light" target="_blank" href="https://www.flickr.com/">
                    <i class='bx bxl-flickr-square bx-md'></i>
                  </a>
                </li>
                <li class="list-inline-item m-1">
                  <a class="text-light" target="_blank" href="https://www.medium.com/">
                    <i class='bx bxl-medium-square bx-md'></i>
                  </a>
                </li>
              </ul>
        </div>

        <div class="col-lg-3 col-md-3 my-sm-0 mt-4">
          <h3 class="h4 pb-lg-3 text-dark regular-400">Nuestro Estudio</h2>
            <ul class="list-unstyled text-dark light-300">
              <li class="pb-2">
                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-dark"
                  href="index.html">Home</a>
              </li>
              <li class="pb-2">
                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-dark py-1"
                  href="PetForm.html">Add your pets</a>
              </li>
              <li class="pb-2">
                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-dark py-1"
                  href="PetList.html">Find your pet</a>
              </li>
              <li class="pb-2">
                <i class='bx-fw bx bxs-chevron-right bx-xs'></i></i><a class="text-decoration-none text-dark py-1"
                  href="Requirements.html">Requirements</a>
              </li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-3 my-sm-0 mt-4">
          <h2 class="h4 pb-lg-3 text-dark regular-400">Contactanos</h2>
          <ul class="list-unstyled text-dark light-300">
            <li class="pb-2">
              <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-dark py-1"
                href="tel:010-020-0340">341- 111- 1111</a>
            </li>
            <li class="pb-2">
              <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-dark py-1"
                href="mailto:info@nuestrahuella.com">info@nuestrahuella.com.ar</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <script src="../static/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</body>

</html>