<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/main.css">
  <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">


  <title>Tu Huella</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark estiloNav">
      <div class="container-fluid text-light estiloNav px-3">
        <a class="navbar-brand tex-light" href="#">
          <img src="../static/img/Huella_nueva.png" class="img-fluid d-inline-block align-text-top" width="35"
            height="35" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-3 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-light btn-outline-success rounded-pill mx-2 px-4" aria-current="page" href="index.html">
                Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light btn-outline-success rounded-pill mx-2 px-4" href="/users.html">Add your
                pets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light btn-outline-success rounded-pill mx-2 px-4" href="/pets.html">Find a pet</a>
            </li>
          </ul>          
          <a class="btn text-light btn-outline-success mx-3 px-3" href="/signup.html">Sign Up</a>
          <form class="d-flex">
            <input class="form-control m-2" type="search" placeholder="Search" aria-label="Search">
            <button class="text-light btn btn-outline-success my-2" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <menu>

    </menu>
  </header>

  <main>
      <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="../../resources/static/img/Logo-Huella.png" class="img-fluid"
                alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <h2>Sign in</h2>
              <br>
              <form>                               
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control form-control-lg"
                    placeholder="Enter a valid email address" />
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-3">
                  <input type="password" id="form3Example4" class="form-control form-control-lg"
                    placeholder="Enter password" />
                  <label class="form-label" for="form3Example4">Password</label>
                </div>
      
                <div class="d-flex justify-content-between align-items-center">
                  <!-- Checkbox -->
                  <div class="form-check mb-0">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                    <label class="form-check-label" for="form2Example3">
                      Remember me
                    </label>
                  </div>
                  <a href="#!" class="text-body">Forgot password?</a>
                </div>
      
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="button" class="btn btn-primary btn-lg"
                    style= "background-color: green;"padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                  <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="singup.html"
                      class="link-danger">Register</a></p>
                </div>
      
              </form>
            </div>
          </div>
        </div>        
      </section>    
  </main>



  <script src="../static/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

<!-- 
  <footer class="estiloNav pt-4">
    <div class="container">
      <div class="row py-4 d-flex justify-content-center">

        <div class="col-lg-5 col-12">
          <a class="navbar-brand" href="index.html">
            <h3 class="h4 pb-lg-3 text-dark regular-400">Conocenos en redes</h2>
              <ul class="list-unstyled colorRedes">
                <li class="pb-1">
                  <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a
                    href="http://www.instagram/NuestraHuella.com">Instagram</a>
                </li>
                <li class="pb-2">
                  <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a
                    href="http://www.Linkedin/NuestraHuella.com">Linkedin</a>
                </li>
                <li class="pb-2">
                  <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a href="http://www.webwahtsapp.com">Envianos un Whats
                    App</a>
                </li>
                <li class="pb-2">
                  <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a href="http://Flickr/NuestraHuella.com">FlickR</a>
                </li>
                <li class="pb-2">
                  <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a href="http://medium/NuestraHuella.com">Medium</a>
                </li>

                <ul class="list-inline footer-icons light-300">
                  <li class="list-inline-item m-0">
                    <a class="text-light" target="_blank" href="http://www.instagram/NuestraHuella.com/">
                      <i class='bx bxl-facebook-square bx-md'></i>
                    </a>
                  </li>
                  <li class="list-inline-item m-0">
                    <a class="text-light" target="_blank" href="http://www.Linkedin/NuestraHuella.com/">
                      <i class='bx bxl-linkedin-square bx-md'></i>
                    </a>
                  </li>
                  <li class="list-inline-item m-0">
                    <a class="text-light" target="_blank" href="https://www.webwhatsapp.com/">
                      <i class='bx bxl-whatsapp-square bx-md'></i>
                    </a>
                  </li>
                  <li class="list-inline-item m-0">
                    <a class="text-light" target="_blank" href="https://www.flickr.com/">
                      <i class='bx bxl-flickr-square bx-md'></i>
                    </a>
                  </li>
                  <li class="list-inline-item m-0">
                    <a class="text-light" target="_blank" href="https://www.medium.com/">
                      <i class='bx bxl-medium-square bx-md'></i>
                    </a>
                  </li>
                </ul>
        </div>

        <div class="col-lg-3 col-md-3 my-sm-0 mt-4">
          <h3 class="h4 pb-lg-3 text-dark regular-400">Nuestro Estudio</h2>
            <ul class="list-unstyled text-dark light-300">
              <li class="pb-2">
                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-dark"
                  href="index.html">Home</a>
              </li>
              <li class="pb-2">
                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-dark py-1"
                  href="PetForm.html">Add your pets</a>
              </li>
              <li class="pb-2">
                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-dark py-1"
                  href="PetList.html">Find your pet</a>
              </li>
              <li class="pb-2">
                <i class='bx-fw bx bxs-chevron-right bx-xs'></i></i><a class="text-decoration-none text-dark py-1"
                  href="Requirements.html">Requirements</a>
              </li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-3 my-sm-0 mt-4">
          <h2 class="h4 pb-lg-3 text-dark regular-400">Contactanos</h2>
          <ul class="list-unstyled text-dark light-300">
            <li class="pb-2">
              <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-dark py-1"
                href="tel:010-020-0340">341- 111- 1111</a>
            </li>
            <li class="pb-2">
              <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-dark py-1"
                href="mailto:info@nuestrahuella.com">info@nuestrahuella.com.ar</a>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <div class="w-100 back py-3">
      <div class="container">
        <div class="row pt-2">
          <div class="col-lg-6 col-sm-12">
            <p class="text-lg-start text-center text-dark">
              <span class="light-300"> © Copyright 2021</span> <span class="text-dark-blue">
                Nuestra huella</span>
              <span class="light-300">. Todos los derechos reservados.</span>
            </p>
          </div>
          <div class="col-lg-6 col-sm-12">
            <p class="text-lg-end text-center text-primary light-300">
              Diseñado por <a rel="sponsored" class="text-decoration-none text-dark"
                href="https://github.com/nuestrahuella/" target="_blank"><strong>La banda del 3 -
                  FullStack</strong></a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </footer> -->



</body>

</html>